* {
    padding: 0;
    margin : 0;
    font-family: Poppins;
    outline: none;
    
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 225, 250);
}

::selection{
    background-color: rgb(96, 127, 138) ;
}